@model IEnumerable<PruebaTecnica1.Models.DTO.ProductosXPedidoDTO>

@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Listado de productos por pedidos</h1>
</div>
<br />

<p>
    <a asp-action="Create">Agregar nuevo pedido</a>
</p>
<br />

<div class="row">
    <form asp-action="Index">
        <div class="col-md-3">
            <input type="date" id="f1" name="f1" class="form-control"  />
        </div>
        <div class="col-md-3">
            <input type="date" id="f2" name="f2" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" >Filtrar</button>
    </form>
</div>

<br /><br />
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre del producto</th>
            <th>Categoria</th>
            <th>Cantidad de pedidos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPedidos)
                </td>
            </tr>
        }
    </tbody>
</table>
